.empty-msg {
    font-size: 20px;
}

.sales-report-btn-save .ant-btn-primary:disabled {
    margin-bottom: 0;
    margin-right: 15px;
}

.ant-input-number {
    margin-right: 10px;
    height: 36px;
}

.quarter-dropdown {
    font-size: 12px;
    border-radius: 6%;
    border-color: lightgray;
    padding: 10%;
    outline: none;
    text-align: left;
    height: 40px;
}

.quarter-dropdown-container-admin-sales {
    margin-left: 0px;
}

.quarter-dropdown-container-user-sales {
    margin-left: 0px;
}